.dish-card {
	border-radius: $dish-card-radius;
	box-shadow: $card-box-shadow;
	background-color: $color-default-invisible;
	display: flex;
	overflow: hidden;
	height: $dish-card-height;

	&__base {
		width: 100%;
		transition: width $dish-card-transition-properties;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__selected {
		width: 0%;
		transition: width $dish-card-transition-properties;
		height: 100%;
		display: flex;
		align-items: center;
		background-color: $color-tertiary;
		color: $color-default-invisible;

		&--check {
			font-size: $dish-card-check-size;
			margin-left: $dish-card-check-left-margin;
		}

	}

	h3 {
		padding: map-get($dish-card-padding, top) map-get($dish-card-padding, right) map-get($dish-card-padding, title-details-gap) map-get($dish-card-padding, left);
		font-size: $dish-card-title-size;
		@include single-line-overflow;
	}

	&__details {
		display: flex;
		justify-content: space-between;
		padding: 0 map-get($dish-card-padding, right) map-get($dish-card-padding, bottom) map-get($dish-card-padding, left);
	}

	&__complement {
		font-size: $dish-card-complement-size;
		@include single-line-overflow;
	}

	&__price {
		font-weight: bold;
		font-size: $dish-card-price-size;
	}

	&:hover>.dish-card__base {
		width: $dish-card-min-width-ratio;
	}

	&:hover>.dish-card__selected {
		width: complementary-ratio($dish-card-min-width-ratio);
	}

	&:hover .dish-card__selected--check {
		transform: rotate(360deg);
		animation: icon-rotate $dish-card-transition-properties;
	}
}

@keyframes icon-rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}