/*This function calculates even right and left margin to allow a unique element of a container to be centered horizontally by having its width + its left and right margins = 100% of the parent's width*/
@function fill-margin-left-right-to-parent ($width) {
	$margin-side: calc((100% - $width)/2);
	@return $margin-side;
}

/*This function calculates even top and bottom margin to allow a unique element of a container to be centered vertically by having its height + its top and bottom margins = 100% of the parent's height*/
@function fill-margin-top-bottom-to-parent ($height) {
	$margin-side: calc((100% - $height)/2);
	@return $margin-side;
}

/*Calculate the complement to 100%*/
@function complementary-ratio ($ratio) {
	$complementary: calc(100% - $ratio);
	@return $complementary;
}

/*Lighten a given color by 10%*/
@function lighten10 ($color) {
	$lighten-color: lighten($color, 10%);
	@return $lighten-color;
}

/*Given a left-margin of a sister element + the diameter of self, calculates what is the left offset to implement to have the self element centered horizontally on the left side of the sister element*/
@function left-position-howto-number ($parent-margin-list, $number-diameter) {
	$parent-left-margin: nth($parent-margin-list, 4);
	$left-position: calc($parent-left-margin - ($number-diameter / 2));
	@return $left-position;
}