/*This function calculates even right and left margin to allow a unique element of a container to be centered horizontally by having its width + its left and right margins = 100% of the parent's width*/
@function fill-margin-left-right-to-parent ($width) {
	$margin-side: calc((100% - $width)/2);
	@return $margin-side;
}

@function fill-margin-top-bottom-to-parent ($height) {
	$margin-side: calc((100% - $height)/2);
	@return $margin-side;
}

@function complementary-ratio ($ratio) {
	$complementary: calc(100% - $ratio);
	@return $complementary;
}

@function lighten10 ($color) {
	$lighten-color: lighten($color, 10%);
	@return $lighten-color;
}

@function left-position-howto-number ($parent-margin-list, $number-diameter) {
	$parent-left-margin: nth($parent-margin-list, 4);
	$left-position: calc($parent-left-margin - ($number-diameter / 2));
	@return $left-position;
}