@mixin circle-box ($radius) {
	height: $radius;
	width: $radius;
	border-radius: calc($radius / 2);
	text-align: center;
	padding-top: calc(($radius / 2) - .5rem);
}

@mixin up-rounded-stall ($radius) {
	position: relative;
	top: - $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin single-line-overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}