.footer {
	background-color: $color-footer-background;
	padding: $footer-padding;

	*,
	a {
		font-size: $footer-font-size;
		color: $color-default-invisible;
	}

	a {
		text-align: left;
	}

	li {
		margin-bottom: $footer-list-margin-bottom;
	}

	&__icon {
		transform-origin: left;

		&--partner {
			transform: $footer__icon--partner-stretch;
			margin-right: $footer__icon--partner-margin-right;
		}

		&--restaurant {
			transform: $footer__icon--restaurant-stretch;
			margin-right: $footer__icon--restaurant-margin-right;
		}
	}

	&__title {
		margin-bottom: $footer__title-margin-bottom;
		font-family: $font-titles;
		font-weight: normal;
		font-size: $footer__title-font-size;
	}
}