.header {
	display: flex;
	align-items: center;
	position: relative;
	padding: $header-padding;
	box-shadow: $header-box-shadow;

	&__logo {
		width: $header__logo-width;
		margin: 0 fill-margin-left-right-to-parent($header__logo-width);
	}

	&__back-button {
		position: absolute;
		text-align: left;
		* {
			font-size: $header__back-button-size;
		}
	}
}